@import "variables";

/*--------------------------------------------------
Base
--------------------------------------------------*/
body {
    padding: 30px;
}

h1 {
    font-size: 60px;
}

.code {
    position: fixed;
    bottom: 30px;
    left: 30px;
}