@import "variables";

/*--------------------------------------------------
Splitted Text
--------------------------------------------------*/
.splitted-text {
    opacity: 0;

    &.active {
        opacity: 1;
    }

    .splitted-row {
        overflow: hidden;
        line-height: 1;
        margin-bottom: -10px;

        .splitted-word {
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            line-height: 1.4;

            .splitted-letter {
                display: inline-block;
                transform: translate(50%, 100%);
                position: relative;
                z-index: 1;
            }
        }
    }
}